.vehiculo-detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.vehiculo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  padding: .1em;
  gap: 1em;

  width: 100%;
  width: 22em; /* Limita el ancho máximo del card */
  background-color: white;
  border-radius: 0.4em;
  overflow: hidden;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #f9f9f9; /* Fondo claro */
  padding: 1em;
  border-radius: 0.4em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  font-family: Arial, sans-serif;
}

.info-field {
  display: flex;
  justify-content: space-between; /* Espacio entre label y valor */
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd; /* Línea divisoria */
}

.info-field:last-child {
  border-bottom: none; /* Sin línea en el último campo */
}

.info-label {
  font-weight: bold;
  color: #333; /* Texto más oscuro */
}

.info-value {
  color: #555; /* Texto ligeramente más claro */
}

