
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: .5em;
}
.form{
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .6em;
  justify-content: space-between;
  max-width: 100vw;
  padding: .6em;
  align-items: center;
  background-color: rgba(38, 200, 200, 0.8);
  border-radius: .2em;
}

//representa cada control del form
.form-row {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .4em;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: .2em;
  gap: 0 4%;
}

//para todos los labels
.form-label{
  text-align: left;
  font-weight: 400;
}


//para radios y ckeckbox
.input-label{
  margin-block: .4em;
  padding: .4em;
  border-radius: .2em;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1.4em 1em;
}
.label-input{
  margin-block: auto;
}
.input-text{
  margin-block: auto;
}

//para labels en fila con inputs o inpus fullwide
.row-cell{
  flex-basis: 48%;
  flex-grow: 1;
  min-width: 8em;
}

//para todos los inputs
.form-input{
  max-width: 100%;
  margin: auto;
  padding: .2em;
}


.row-small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: .2em;
  background-color: rgba(0, 0, 0, 0);
  font-size: .9em;
}

//para smalls
.small-block{
  font-weight: 500;
  color: red;
  padding: .2em;
  background-color: rgba(255, 255, 255, .7);
  border-radius: .2em;
}


.form-submit {
  padding: .4em .8em;
  width: 50%;
  &:not(:disabled):hover{
    background: rgb(0, 0, 0);
  }
  &:not(:disabled):hover:before {
  }
  &:not(:disabled):hover:after {
  }
}
