// Paleta de colores
$primary-color: #6200ea;
$secondary-color: #03dac6;
$accent-color: #ff4081;

$color: rgb(0, 0, 0);
$bg-color: rgb(144, 186, 238);

$nav-color: rgb(255, 255, 255);
$nav-bg-color: rgb(36, 134, 255);
$nav-btn-color: rgb(36, 134, 255);
$nav-btn-color-hover: rgb(83, 165, 237);
$nav-btn-color-active: rgb(23, 106, 178);


$play-bg-color: rgb(50, 50, 50);
$play-txt-color: rgb(125, 255, 138);

$play-btn-txt-color: rgb(255, 255, 255);
$play-btn-color: rgb(88, 88, 88);
$play-btn-color-hover: rgb(159, 159, 159);
$play-btn-color-active: rgb(72, 72, 72);


$user-bg-color: rgb(12, 47, 40);
$user-bg-color-alter: rgb(42, 88, 79);

$game-color: rgb(255, 255, 255);
$game-bg-color: rgb(25, 91, 117);
$game-bg-color-hover: rgb(30, 109, 141);
$game-bg-color-active: rgb(21, 77, 98);

// Espaciados
$padding: 16px;
$margin: 16px;

// Tipografía
$font-family: 'Roboto', sans-serif;
